/* Booking History Cards */
.userDashboardHeading{
    text-align: center;
    background: linear-gradient(40deg, #f9572a,#ffc905, #fefefe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}
.booking-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }
  .dashboard button,
  .modal button  {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .dashboard button:hover,
  .modal button:hover {
    background-color: #b36d00;
    color: #000000;
    transition: background-color 0.3s;
    border: 1px solid #7a4b00;
  
  }
  .booking-card {
    background: radial-gradient(#464444, #21242b,#000000);
    border: 1px solid #f8e5ba;
    border-radius: 8px;
    padding: 15px;
    width: 350px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    color: #ffc905;
    margin-bottom: 20px;
  }
  
  .booking-card:hover {
    transform: scale(1.02);
  }
  
  .booking-card p {
    margin: 5px 0;
    font-size: 14px;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 40%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background: radial-gradient(#706e6e, #484f5e,#303030);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Centering the Edit Profile Form
  .modal-content {
    width: 40%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
   */
  .modal input {
    width: 90%;
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 85%;
    margin-left: 2%;
    border: 1px solid #ffc905;
    border-radius: 5px;
    font-size: 14px;
    background-color: #d7f3fc;
    background: radial-gradient(#b5b5b5, #a0a5b5);
  }
  .modal label {
    text-align: left;
  }

  .booking-container-noBooking{
   
        display: flex;
        flex-direction: column; /* Ensures everything stacks vertically */
        align-items: center;  /* Centers content */
        text-align: center;
      
      
  }
  .booking-container-noBooking h5{
    display: block;
    align-items: center;
    margin: auto;
  }
  .placeholder-image-dashboard{
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 60%;
    opacity: 0.6;
    margin: auto;
  }